################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/projekt/Back-end/Hotelio/.vs/Hotelio/v17/TestStore/0
